%p Hello, #{@user.username}!

%p Your SSN: #{@user.ssn}
%p Your Birthdate: #{@user.birthdate}

-unless @user.messages.empty?
    %p
        Some fans left you messages while you were out! Click
        %a{:href => "list_messages/#{@user.id}"} here
        to see them.

