/

    ="@results: #{@results.inspect}"
-if @results
    %p
        #{@username}'s catchphrases are:
        %ul
            - for result in @results
                %li
                    #{result.catchphrase}

%p
    %h
        Catchphrase Engine!
%p
    %form{:action => :get_catchphrases, :method => 'post'}
        %input{:type => 'text', :name => 'username'}
        %input{:type => 'submit', :value => 'Get Catchphrases!'}
