!!!
%html
    %head
        %title
            - if @title
                @title
            - else
                Catchphrases!
        :css
            body #flash-notice {
                color: green;
                background-color: #dfffdf;
            }
            body .header {
                font-size:smaller;
                margin-bottom: 2em;
            }
            body .current-stats {
                font-size:smaller;
                color: darkgrey;
            }

    %body
        .header
            /
                @alls: #{@all.inspect}
            - unless flash[:notice].nil?
                #flash-notice
                    #{flash[:notice]}
            - if @extra_header_content
                =@extra_header_content
            -if @user
                Logged in as
                %a{:href => 'dashboard'} #{@user.username}
                (
                %a{:href => 'logout'} logout
                )
            -else
                %form{:action => "/login", :method => "post"}
                    %label{:for => 'username'} Username
                    %input#username{:name => 'username', :type => 'text'}
                    %label{:for => 'password'} Password
                    %input#password{:name => 'password', :type => 'password'}
                    %input{:type => 'submit', :value => 'login'}

        .content
            = yield

